@model PlaceOrderModel
@{
    ViewData["Title"] = "Order";
}

<div class="background-1"></div>
<div class="background-darken"></div>

<section class="horizontal-wrapper font-color-white">
    <br /><br /><br />
    <h1 class="center PrincessSofia font-400p">Cakes by Vern</h1>
    <h3 class="center PrincessSofia">Your order has been placed</h3>
</section>