html {
    font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    font-family: 'Brush Script MT', cursive;
}

.navigation_bar{
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    margin-right:20px;
}

.nav_items{
    text-decoration: none;
    font-size: 20px;
    padding: 0;
    padding-left: 10px;
    padding-right: 10px;
    color: black;
    cursor: pointer;
}

.nav_items:hover{
    color: gray;
}