@font-face {
    font-family: CuteWriting;
    src: url(../Font/CuteWriting.ttf);
}
@font-face {
    font-family: PeachSundress;
    src: url(../Font/peach-sundress.ttf);
}
@font-face {
    font-family: PrincessSofia;
    src: url(../Font/PrincessSofia-Regular.ttf);
}
html {
  font-size: 14px;
}


html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    margin: 0;
    border: 0;
    background-image: linear-gradient(to bottom,white, pink);
    background-color: rgba(0,0,0,0.2);
}

.footer-content{
    color: black;
    text-align: center;
    z-index: 10;
    height: fit-content;
    padding: 5px;
}

.navig {
    position: absolute;
    width: fit-content;
    top: 0;
    right: 0px;
    padding: 10px;
    background-color: rgb(73, 46, 46);
    border-radius: 0px 0px 0px 20px;
    box-shadow: 0px 0px 20px black;
    z-index: 1;
    transition: all 500ms ease-in;
}

.navig .item{
    position: relative;
    color: white;
    text-decoration: none;
    cursor: pointer;
    font-size: 20px;
    padding: 0px 10px 0px 10px;
    transition: all 500ms ease-in;
}

.info_extra,.info_extra_1 {
    position: relative;
    width: 100%;
    height: 0;
    z-index: -1;
}

.navig .item:hover {
    border-bottom: 1px solid pink;
    color: pink;
}

.banner {
    position: relative;
    width: 100%;
    height: 550px;
    background-color: #ecb2ad;
    background-image: url('/images/banner.png');
    background-repeat: no-repeat;
    background-size: inherit;
}

.info {
    position: absolute;
    height: 220px;
    width: 700px;
    top: 300px;
    right: 0;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 20px 0px 0px 20px;
    box-shadow: 5px 5px 5px grey;
    transition: all 100ms ease-in;
    overflow: hidden;
}

.social {
    width: 300px;
    display: flex;
    margin-right: 30px;
    cursor: pointer;
}

.social:hover{
    color: purple;
    font-weight: 500;
}

.social .icon {
    width: 64px;
    height: 64px;
    text-align: center;
    font-size: 30px;
}

.flex {
    display: flex;
    margin-top: 10px;
}

.social .title p, .title_2 p {
    padding: 0;
    margin: 0;
    font-size: 14px;
}

.social .title_2 p {
    padding-top: 10px;
}

.announcement {
    position: relative;
    width: 100%;
    height: fit-content;
    text-align: center;
}

.post_container {
    position: relative;
    max-width: calc(330px * 3);
    width: calc(fit-content + 10px);
    min-width: 320px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-wrap: wrap;
}

.post{
    width: 320px;
    height: 370px;
    background-color: white;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgba(0,0,0,0.4);
}

.photo img{
    width: 320px;
    height: 320px;
    padding: 10px;
}

.caption {
    width: 320px;
    padding: 0px 10px 0px 10px;
}

/* Login CSS */
.full-bg {
    position: relative;
    height: 95vh;
    width: 100%;
    background-color: #ecb2ad;
    color: white;
    background-image: url(/images/background-login.png);
    z-index:0;
}
.full-bg-overlay {
    position: absolute;
    height: 95vh;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: -1;
}

.form-container {
    position: relative;
    width: 300px;
    height: fit-content;
    background-color: rgba(0, 0, 0,0.8);
    text-align: center;
    border-radius: 20px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 0px 30px black;
    z-index: 1;
    border: 3px solid white;
}

.form-container form .form-group {
    text-align: left;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 235px;
    padding: 2px;
    border-bottom: 3px solid white;
}

.form-container form div input{
    border: none;
    padding-left: 10px;
    width: 190px;
    background-color: rgba(0,0,0,0);
    color: white;
}

.form-container form div input:focus {
    outline: none;
    padding-left: 10px;
    width: 190px;
}

.form-container form div button {
    border: 2px solid lightpink;
    padding: 5px 20px 5px 20px;
    background-color: #ecb2ad;
    border-radius: 5px;
    font-weight: 500;
}

.form-container form div p {
    padding: 0;
    margin: 0;
}

.form-alert{
    height: 30px;
    color: red;
    font-weight: 600;
}


/* Mobile Responsive */
@media (max-width: 768px) {
    html {
        font-size: 16px;
    }

    .navig {
        position: fixed;
        width: 300px;
        border-radius: 0px 0px 20px 20px;
        left: 50%;
        transform: translateX(-50%);
    }

    .navig .item {
        margin: calc(5% - 15px);
    }

    .banner {
        width: 100%;
        height: 150px;
        background-color: #ecb2ad;
        background-repeat: no-repeat;
        background-size: cover;
        border-color: #ecb2ad;
    }


    .info {
        position: absolute;
        top: 150px;
        width: 100%;
        height: 140px;
        background-color: rgba(0, 0, 0, 0.1);
        border-radius: 0px 0px 0px 0px;
        box-shadow: none;
    }

    .social .icon {
        width: 32px;
        height: 32px;
        font-size: 20px;
    }

    .social {
        width: 160px;
        display: flex;
        margin: auto;
        cursor: pointer;
    }

    .info_extra {
        position: relative;
        width: 100%;
        height: 140px;
        background-color: #ecb2ad;
    }

    .info_extra_1 {
        position: relative;
        width: 100%;
        height: 50px;
        background-color: #ecb2ad;
    }


    .social .title p, .title_2 p {
        font-size: 10px;
    }
    .social .title_2 p {
        padding-top: 6px;
    }

}
