@using System.Security.Claims
@{
    var claimsIdentity = User.Identity as System.Security.Claims.ClaimsIdentity;
    string? role = null;
    if (claimsIdentity != null)
    {
        if (claimsIdentity.Claims != null)
            role = claimsIdentity.Claims?.FirstOrDefault(x => x.Type == ClaimTypes.Role)?.Value;
    }
    var roleOfUser = role != null ? role : "User";
}
@{
    ViewData["Title"] = "Home";
}
<section class="info_extra_1"></section>
<section class="banner">
    <div class="info">
        <div class="flex">
            <div class="social" onclick="openSite('location')">
                <div class="icon"><i class="fa-solid fa-map-pin"></i></div>
                <div class="title"><p>Don Benigno, Jaclupan<br>Jaclupan, Talisay City, Cebu</p></div>
            </div>
            <div class="social" onclick="openSite('youtube')">
                <div class="icon"><i class="fa-brands fa-youtube"></i></div>
                <div class="title_2"><p>The ArchiBaker</p></div>
            </div>
        </div>
        <div class="flex">
            <div class="social" onclick="openSite('facebook')">
                <div class="icon"><i class="fa-brands fa-facebook"></i></div>
                <div class="title"><p>@@cakesbyvern<br>@@krisvernmariebasalo</p></div>
            </div>
            <div class="social">
                <div class="icon"><i class="fa-solid fa-envelope"></i></div>
                <div class="title"><p>cakesbyvern@gmail.com<br>archibaker@gmail.com</p></div>
            </div>
        </div>
        <div class="flex">
            <div class="social">
                <div class="icon"><i class="fa-brands fa-instagram"></i></div>
                <div class="title_2"><p>@@cakesbyvern</p></div>
            </div>
            <div class="social">
                <div class="icon"><i class="fa-brands fa-whatsapp"></i></div>
                <div class="title"><p>09096469390<br>09958691432</p></div>
            </div>
        </div>
    </div>
</section>
<section class="info_extra"></section>
<section class="announcement">
    <h1 style="font-weight: 900; font-family: PrincessSofia;padding:30px;">Posts</h1>
    
    <partial name="_PostAnnouncementPartial" />
    
    <div class="post_container">
        <div class="post">
            <div class="photo">
                <img src="~/images/cake2.jpg"/>
            </div>
            <div class="caption">
                <p>Caption Caption Caption Caption Caption Caption Caption Caption Caption Caption</p>
            </div>
        </div>
    </div>
    <br /><br />
</section>
