<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CakesByVern</title>
    <link rel="icon" href="~/fav.png" type="image/icon"/>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/CakesByVern_ASP_NET_WEB.styles.css" asp-append-version="true" />
    <script src="https://kit.fontawesome.com/55a8472328.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <div class="navig">
            <a class="item" asp-controller="Home" asp-action="Index"><i class="fa fa-home" aria-hidden="true"></i></a>
            <a class="item">Order</a>
            <a class="item">About</a>
            @{
                // grab the cookie yum yum :D
                if(User.Identity != null)
                if (User.Identity.IsAuthenticated)
                {
                    <a class="item" asp-controller="Account" asp-action="Logout">Logout</a>
                }else{
                    <a class="item" asp-controller="Account" asp-action="Login">Login</a>
                }
            }
            
        </div>
    </header>
    @RenderBody()

    <div class="footer-content">
        &copy; 2023 - CakesByVern - <a href="https://jayharronabejar.info" target="_blank">Developed by JayMar</a>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
