@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "About Us";
}
<div class="background-1"></div>
<div class="background-darken"></div>

<br />
<br />
<br />
<h1 style="text-align:center; color: white; margin-top: 20px;">About</h1>
<div style="position: relative;width: 80%; color: white; background-color: rgba(0,0,0,0.5); border-radius: 20px; padding: 20px;left: 50%; transform:translateX(-50%);margin-top: 50px;margin-bottom: 50px;">
    <p style="padding: 10px; text-align: left; font-size: 15px">
        ✨ A part-time baker student architect.
        <br /><br />
        ✨Once a hobby, turns to a side job which grows potential due to the demand of customers which adored the quality of these sweet pastries.
    </p>
</div>

